################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CUDAfy.GettingStarted/v14
/CUDAfy.GettingStarted/.vs/CUDAfy.GettingStarted/v14
/CUDAfy.GettingStarted/obj/Debug
/packages/CUDAfy.NET.1.29.5576.13786
